<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe4ec;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: pink ;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-size: 15px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

#menu a {
    background-color: #f74780;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

#introducao {
    background-color: palevioletred;
    color: black;
    display: flex;
    flex-direction: row;
    gap:30px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

#introducao span {
    color: pink;
}

#introducao h2 {
    font-size: 40px;
}

#princesas {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    padding: 20px;
}

#cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    gap: 40px;
}

.card {
    background-color: white;
    padding: 20px;
    width: 22%;
    border-radius: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
}

footer {
    background-color: pink;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#menu-final a {
    background-color: #f74780;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}
=======
>>>>>>> 0dfa5f7c9fe48373ff9738268c1dc95afa585ad5

#menu-final {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap:20px;
    
}