* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe4ec;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: pink;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-size: 15px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
    width: 33%;
}

#titulo {
    width: 33%;
}

#introducao {
    background-color: palevioletred;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

#intoducao h2 {
    font-size: 60px;
}

#texto {
    color: black;
}

#introducao img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 15px;
}

#introducao a {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

#botao {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#fundo-img p {
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: black;
}

#menu a {
    background-color: #f74780;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

#destaque {
    padding: 50px;
    color: #f74780;
}

#porqueelassaoespeciais {
    margin-bottom: 20px;
    color: black;
}

#porqueelassaoespeciais {
    color:#f74780
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;

}

.card {
    background-color: white;
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.card h4 {
    font-size: 20px;
}

#chamada-princesas {
    background-color: palevioletred;
    padding: 30px;
    text-align: center;
}

#chamada-princesas h5 {
    font-size: 20px;
    margin-bottom: 10px;
}

#pagina-princesas {
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #f74780;
    color: black;
    padding:5px
}

footer {
    background-color: pink;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu-final {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap:nowrap;
    gap:20px
}

#menu-final a {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: #f74780;
}