* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: palevioletred;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header p {
    font-size: 15px;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    width: 30%;
}

#titulo {
    width: 30%;
}

#introducao {
    background-color: pink;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding:20px;
    align-items: center;
    justify-content: space-between;
}

#introducao h2 {
    font-size: 50px;
}

#texto {
    color: black;
}

#introducao img {
    width: 500px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 15px;
}

#introducao a {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 6px ;
    text-decoration: none;
    color: black;
}

#fundo-img p {
    background-color: aliceblue;
    padding: 5px;
    text-decoration: none;
    color: black
}

#menu a {
    background-color: pink;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

#botao {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

#destaque {
    padding: 40px;
    color: black;
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px;
}

.card {
    background-color: white;
    width: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.card h4 {
    font-size: 20px;
}

#chamada-princesas {
    background-color: palevioletred;
    text-align: center;
    padding: 30px;
    color: black
}

#paginas-princesas {
    background-color: pink;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

#footer {
    color: black;
    background-color: pink;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#menu-final {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 16px
}

#menu-final a {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

#convite {
    border-radius: 8px;
    text-decoration: none;
    color: black;
    background-color: pink;
}

